{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load tailwind_filters %}
{% block title %}
Add Option to {{question.question}}
{% endblock title %}

{% block content %}
<div>
    <h1 class="text-2xl font-bold mb-1">Edit Option {{option}} </h1>
    <hr class="border-b-2 border-blue-500">
    <form action="" method="post">
      {% csrf_token %}
      {{form | crispy}}
      <button type="submit" class="py-2 px-4 bg-yellow-400 text-white rounded-xl">Edit Option</button>
    </form>
  </div>
{% endblock content %}