{% extends 'base.html' %}

{% block title %}
List users
{% endblock title %}

{% block content %}
<div class="container mx-auto mt-8">
    <h1 class="text-3xl font-bold mb-4">User List</h1>
    <table class="table-auto">
        <thead>
            <tr>
                <th style="max-width: 10px;" class="px-4 py-2">User ID</th>
                <th style="max-width: 20px;" class="px-4 py-2">Username</th>
                <th style="max-width: 30px;" class="px-4 py-2">Email</th>
                <th style="max-width: 150px;" class="px-4 py-2">First Name</th>
                <!-- <th style="max-width: 150px;" class="px-4 py-2">Last Name</th> -->
                <!-- <th style="max-width: 200px;" class="px-4 py-2">Date Joined</th> -->
                <th style="max-width: 200px;" class="px-4 py-2">Last Login</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td class="border px-4 py-2">{{ user.id }}</td>
                <td class="border px-4 py-2">{{ user.username }}</td>
                <td class="border px-4 py-2">{{ user.email }}</td>
                <td class="border px-4 py-2">{{ user.first_name }}</td>
                <!-- <td class="border px-4 py-2">{{ user.last_name }}</td> -->
                <!-- <td class="border px-4 py-2">{{ user.date_joined }}</td> -->
                <td class="border px-4 py-2">{{ user.last_login }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}
